html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

h1 {
    margin: 0;
}
.flexbox-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.flexbox-item {
    flex: 0 0 auto;
    width: 100%;
}

iframe {
    height: 600px;
    width: 100%;
    margin: 0;
    z-index: -1;
    text-align: center;
}