html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
}

.flexbox-panel {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.flexbox-item {
    flex: 0 0 auto;
    width: 100%;
}

iframe {
    height: 500px;
    width: 100%;
    margin: 0;
    text-align: center;
}